# Factors Affecting the Value of Your Home

# Data Collection and Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# read in datasets
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [3]:
train.head()

,Unnamed: 0,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,532,1612,526352080,20,RL,85.0,10667,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,3,2007,WD,167300
1,415,2045,904100100,70,RL,107.0,12888,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,4,2007,WD,219000
2,273,1962,535451110,20,RL,60.0,7200,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,7,2007,WD,129000
3,1460,229,905109130,60,RL,80.0,14000,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,4,2010,WD,328000
4,250,1105,528363020,60,RL,NaN,11929,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,6,2008,WD,290000

In [4]:
test.head()

,Unnamed: 0,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,1124,2782,907200170,80,RL,55.0,10780,Pave,NaN,IR1,...,0,0,0,NaN,NaN,NaN,0,7,2006,WD
1,188,2569,535125060,60,RL,88.0,14200,Pave,NaN,Reg,...,0,0,0,NaN,GdPrv,NaN,0,5,2006,WD
2,1727,1062,528142020,60,RL,74.0,8899,Pave,NaN,Reg,...,0,0,0,NaN,NaN,NaN,0,6,2008,WD
3,1658,287,909100110,70,RL,66.0,6858,Pave,NaN,Reg,...,0,0,0,NaN,NaN,NaN,0,5,2010,WD
4,1424,2809,907410040,60,RL,74.0,8581,Pave,NaN,IR1,...,0,0,0,NaN,NaN,NaN,0,8,2006,New

In [5]:
train.shape

(1538, 82)

In [6]:
test.shape

(513, 81)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538 entries, 0 to 1537
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1538 non-null   int64
 1   Id               1538 non-null   int64
 2   PID              1538 non-null   int64
 3   MS SubClass      1538 non-null   int64
 4   MS Zoning        1538 non-null   object
 5   Lot Frontage     1285 non-null   float64
 6   Lot Area         1538 non-null   int64
 7   Street           1538 non-null   object
 8   Alley            111 non-null    object
 9   Lot Shape        1538 non-null   object
 10  Land Contour     1538 non-null   object
 11  Utilities        1538 non-null   object
 12  Lot Config       1538 non-null   object
 13  Land Slope       1538 non-null   object
 14  Neighborhood     1538 non-null   object
 15  Condition 1      1538 non-null   object
 16  Condition 2      1538 non-null   object
 17  Bldg Type        1538 non-null   object
 18  House Style      1538 non-null   object
 19  Overall Qual     1538 non-null   int64
 20  Overall Cond     1538 non-null   int64
 21  Year Built       1538 non-null   int64
 22  Year Remod/Add   1538 non-null   int64
 23  Roof Style       1538 non-null   object
 24  Roof Matl        1538 non-null   object
 25  Exterior 1st     1538 non-null   object
 26  Exterior 2nd     1538 non-null   object
 27  Mas Vnr Type     607 non-null    object
 28  Mas Vnr Area     1520 non-null   float64
 29  Exter Qual       1538 non-null   object
 30  Exter Cond       1538 non-null   object
 31  Foundation       1538 non-null   object
 32  Bsmt Qual        1498 non-null   object
 33  Bsmt Cond        1498 non-null   object
 34  Bsmt Exposure    1495 non-null   object
 35  BsmtFin Type 1   1498 non-null   object
 36  BsmtFin SF 1     1537 non-null   float64
 37  BsmtFin Type 2   1497 non-null   object
 38  BsmtFin SF 2     1537 non-null   float64
 39  Bsmt Unf SF      1537 non-null   float64
 40  Total Bsmt SF    1537 non-null   float64
 41  Heating          1538 non-null   object
 42  Heating QC       1538 non-null   object
 43  Central Air      1538 non-null   object
 44  Electrical       1538 non-null   object
 45  1st Flr SF       1538 non-null   int64
 46  2nd Flr SF       1538 non-null   int64
 47  Low Qual Fin SF  1538 non-null   int64
 48  Gr Liv Area      1538 non-null   int64
 49  Bsmt Full Bath   1536 non-null   float64
 50  Bsmt Half Bath   1536 non-null   float64
 51  Full Bath        1538 non-null   int64
 52  Half Bath        1538 non-null   int64
 53  Bedroom AbvGr    1538 non-null   int64
 54  Kitchen AbvGr    1538 non-null   int64
 55  Kitchen Qual     1538 non-null   object
 56  TotRms AbvGrd    1538 non-null   int64
 57  Functional       1538 non-null   object
 58  Fireplaces       1538 non-null   int64
 59  Fireplace Qu     773 non-null    object
 60  Garage Type      1450 non-null   object
 61  Garage Yr Blt    1450 non-null   float64
 62  Garage Finish    1450 non-null   object
 63  Garage Cars      1538 non-null   float64
 64  Garage Area      1538 non-null   float64
 65  Garage Qual      1450 non-null   object
 66  Garage Cond      1450 non-null   object
 67  Paved Drive      1538 non-null   object
 68  Wood Deck SF     1538 non-null   int64
 69  Open Porch SF    1538 non-null   int64
 70  Enclosed Porch   1538 non-null   int64
 71  3Ssn Porch       1538 non-null   int64
 72  Screen Porch     1538 non-null   int64
 73  Pool Area        1538 non-null   int64
 74  Pool QC          7 non-null      object
 75  Fence            313 non-null    object
 76  Misc Feature     54 non-null     object
 77  Misc Val         1538 non-null   int64
 78  Mo Sold          1538 non-null   int64
 79  Yr Sold          1538 non-null   int64
 80  Sale Type        1538 non-null   object
 81  SalePrice        1538 non-null   int64
dtypes: float64(11), int64(29), object(42)
memory usage: 985.4+ KB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       513 non-null    int64
 1   Id               513 non-null    int64
 2   PID              513 non-null    int64
 3   MS SubClass      513 non-null    int64
 4   MS Zoning        513 non-null    object
 5   Lot Frontage     436 non-null    float64
 6   Lot Area         513 non-null    int64
 7   Street           513 non-null    object
 8   Alley            29 non-null     object
 9   Lot Shape        513 non-null    object
 10  Land Contour     513 non-null    object
 11  Utilities        513 non-null    object
 12  Lot Config       513 non-null    object
 13  Land Slope       513 non-null    object
 14  Neighborhood     513 non-null    object
 15  Condition 1      513 non-null    object
 16  Condition 2      513 non-null    object
 17  Bldg Type        513 non-null    object
 18  House Style      513 non-null    object
 19  Overall Qual     513 non-null    int64
 20  Overall Cond     513 non-null    int64
 21  Year Built       513 non-null    int64
 22  Year Remod/Add   513 non-null    int64
 23  Roof Style       513 non-null    object
 24  Roof Matl        513 non-null    object
 25  Exterior 1st     513 non-null    object
 26  Exterior 2nd     513 non-null    object
 27  Mas Vnr Type     204 non-null    object
 28  Mas Vnr Area     509 non-null    float64
 29  Exter Qual       513 non-null    object
 30  Exter Cond       513 non-null    object
 31  Foundation       513 non-null    object
 32  Bsmt Qual        498 non-null    object
 33  Bsmt Cond        498 non-null    object
 34  Bsmt Exposure    498 non-null    object
 35  BsmtFin Type 1   498 non-null    object
 36  BsmtFin SF 1     513 non-null    float64
 37  BsmtFin Type 2   498 non-null    object
 38  BsmtFin SF 2     513 non-null    float64
 39  Bsmt Unf SF      513 non-null    float64
 40  Total Bsmt SF    513 non-null    float64
 41  Heating          513 non-null    object
 42  Heating QC       513 non-null    object
 43  Central Air      513 non-null    object
 44  Electrical       513 non-null    object
 45  1st Flr SF       513 non-null    int64
 46  2nd Flr SF       513 non-null    int64
 47  Low Qual Fin SF  513 non-null    int64
 48  Gr Liv Area      513 non-null    int64
 49  Bsmt Full Bath   513 non-null    float64
 50  Bsmt Half Bath   513 non-null    float64
 51  Full Bath        513 non-null    int64
 52  Half Bath        513 non-null    int64
 53  Bedroom AbvGr    513 non-null    int64
 54  Kitchen AbvGr    513 non-null    int64
 55  Kitchen Qual     513 non-null    object
 56  TotRms AbvGrd    513 non-null    int64
 57  Functional       513 non-null    object
 58  Fireplaces       513 non-null    int64
 59  Fireplace Qu     278 non-null    object
 60  Garage Type      488 non-null    object
 61  Garage Yr Blt    487 non-null    float64
 62  Garage Finish    487 non-null    object
 63  Garage Cars      512 non-null    float64
 64  Garage Area      512 non-null    float64
 65  Garage Qual      487 non-null    object
 66  Garage Cond      487 non-null    object
 67  Paved Drive      513 non-null    object
 68  Wood Deck SF     513 non-null    int64
 69  Open Porch SF    513 non-null    int64
 70  Enclosed Porch   513 non-null    int64
 71  3Ssn Porch       513 non-null    int64
 72  Screen Porch     513 non-null    int64
 73  Pool Area        513 non-null    int64
 74  Pool QC          2 non-null      object
 75  Fence            87 non-null     object
 76  Misc Feature     11 non-null     object
 77  Misc Val         513 non-null    int64
 78  Mo Sold          513 non-null    int64
 79  Yr Sold          513 non-null    int64
 80  Sale Type        513 non-null    object
dtypes: float64(11), int64(28), object(42)
memory usage: 324.8+ KB

In [9]:
train.columns

Index(['Unnamed: 0', 'Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage',
       'Lot Area', 'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type',
       'SalePrice'],
      dtype='object')

In [10]:
test.columns

Index(['Unnamed: 0', 'Id', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage',
       'Lot Area', 'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style',
       'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type',
       'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional',
       'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC',
       'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type'],
      dtype='object')

In [11]:
# display summary statistics
train.describe()

,Unnamed: 0,Id,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,1538.000000,1538.000000,1.538000e+03,1538.000000,1285.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,...,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000,1538.000000
mean,1024.970741,1469.562419,7.118700e+08,56.983095,69.378210,9955.676203,6.109883,5.559818,1971.860858,1984.168401,...,94.012354,47.527308,22.126138,2.618986,16.298440,2.569571,58.338101,6.177503,2007.776983,181061.993498
std,588.860047,840.814349,1.886513e+08,43.217246,24.095542,5427.477335,1.428502,1.100363,30.173843,20.926357,...,124.893497,66.927900,60.058850,26.147481,57.023537,38.947031,623.083653,2.698290,1.305238,79552.718835
min,0.000000,1.000000,5.263011e+08,20.000000,21.000000,1476.000000,1.000000,1.000000,1872.000000,1950.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,13100.000000
25%,522.250000,748.250000,5.284562e+08,20.000000,58.000000,7473.000000,5.000000,5.000000,1954.000000,1965.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129925.000000
50%,1022.000000,1483.500000,5.354511e+08,50.000000,68.000000,9487.500000,6.000000,5.000000,1975.000000,1993.000000,...,0.000000,26.500000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,162250.000000
75%,1528.750000,2189.750000,9.071308e+08,70.000000,80.000000,11498.000000,7.000000,6.000000,2001.000000,2003.750000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,213000.000000
max,2050.000000,2930.000000,9.241510e+08,190.000000,313.000000,63887.000000,10.000000,9.000000,2010.000000,2010.000000,...,870.000000,547.000000,432.000000,508.000000,490.000000,800.000000,17000.000000,12.000000,2010.000000,611657.000000

In [12]:
# display summary statistics
test.describe()

,Unnamed: 0,Id,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Garage Area,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold
count,513.000000,513.000000,5.130000e+02,513.00000,436.000000,513.000000,513.000000,513.000000,513.000000,513.000000,...,512.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000,513.000000
mean,1025.087719,1487.438596,7.187466e+08,57.08577,68.103211,10393.590643,6.118908,5.569201,1971.253411,1984.255361,...,476.960938,93.298246,47.645224,23.908382,2.508772,17.150097,1.883041,31.296296,6.346979,2007.771930
std,602.750588,854.090084,1.889035e+08,41.66501,20.600544,9666.853690,1.420928,1.117853,30.214890,21.382836,...,208.948290,139.062411,66.267560,59.237748,22.275627,58.464590,34.084253,387.813792,2.878475,1.333402
min,2.000000,12.000000,5.263510e+08,20.00000,21.000000,1300.000000,2.000000,1.000000,1885.000000,1950.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,480.000000,803.000000,5.313761e+08,20.00000,57.000000,7692.000000,5.000000,5.000000,1953.000000,1964.000000,...,325.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,1034.000000,1490.000000,5.354780e+08,50.00000,66.500000,9262.000000,6.000000,5.000000,1972.000000,1993.000000,...,483.000000,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,1573.000000,2231.000000,9.072540e+08,75.00000,80.000000,11577.000000,7.000000,6.000000,2002.000000,2004.000000,...,576.000000,164.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2048.000000,2929.000000,9.241520e+08,190.00000,134.000000,159000.000000,10.000000,9.000000,2009.000000,2010.000000,...,1184.000000,1424.000000,523.000000,368.000000,304.000000,374.000000,738.000000,8300.000000,12.000000,2010.000000

In [13]:
train.isnull().sum()

Unnamed: 0     0
Id             0
PID            0
MS SubClass    0
MS Zoning      0
              ..
Misc Val       0
Mo Sold        0
Yr Sold        0
Sale Type      0
SalePrice      0
Length: 82, dtype: int64

In [14]:
test.isnull().sum()

Unnamed: 0        0
Id                0
PID               0
MS SubClass       0
MS Zoning         0
               ...
Misc Feature    502
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
Length: 81, dtype: int64

In [15]:
train.dtypes

Unnamed: 0      int64
Id              int64
PID             int64
MS SubClass     int64
MS Zoning      object
                ...
Misc Val        int64
Mo Sold         int64
Yr Sold         int64
Sale Type      object
SalePrice       int64
Length: 82, dtype: object

In [16]:
test.dtypes

Unnamed: 0       int64
Id               int64
PID              int64
MS SubClass      int64
MS Zoning       object
                 ...
Misc Feature    object
Misc Val         int64
Mo Sold          int64
Yr Sold          int64
Sale Type       object
Length: 81, dtype: object

In [17]:
# drop columns with more than 50% null values
threshold = 0.5 * len(train)
train_cleaned = train.dropna(thresh=threshold, axis=1)

In [18]:
train_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538 entries, 0 to 1537
Data columns (total 77 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1538 non-null   int64
 1   Id               1538 non-null   int64
 2   PID              1538 non-null   int64
 3   MS SubClass      1538 non-null   int64
 4   MS Zoning        1538 non-null   object
 5   Lot Frontage     1285 non-null   float64
 6   Lot Area         1538 non-null   int64
 7   Street           1538 non-null   object
 8   Lot Shape        1538 non-null   object
 9   Land Contour     1538 non-null   object
 10  Utilities        1538 non-null   object
 11  Lot Config       1538 non-null   object
 12  Land Slope       1538 non-null   object
 13  Neighborhood     1538 non-null   object
 14  Condition 1      1538 non-null   object
 15  Condition 2      1538 non-null   object
 16  Bldg Type        1538 non-null   object
 17  House Style      1538 non-null   object
 18  Overall Qual     1538 non-null   int64
 19  Overall Cond     1538 non-null   int64
 20  Year Built       1538 non-null   int64
 21  Year Remod/Add   1538 non-null   int64
 22  Roof Style       1538 non-null   object
 23  Roof Matl        1538 non-null   object
 24  Exterior 1st     1538 non-null   object
 25  Exterior 2nd     1538 non-null   object
 26  Mas Vnr Area     1520 non-null   float64
 27  Exter Qual       1538 non-null   object
 28  Exter Cond       1538 non-null   object
 29  Foundation       1538 non-null   object
 30  Bsmt Qual        1498 non-null   object
 31  Bsmt Cond        1498 non-null   object
 32  Bsmt Exposure    1495 non-null   object
 33  BsmtFin Type 1   1498 non-null   object
 34  BsmtFin SF 1     1537 non-null   float64
 35  BsmtFin Type 2   1497 non-null   object
 36  BsmtFin SF 2     1537 non-null   float64
 37  Bsmt Unf SF      1537 non-null   float64
 38  Total Bsmt SF    1537 non-null   float64
 39  Heating          1538 non-null   object
 40  Heating QC       1538 non-null   object
 41  Central Air      1538 non-null   object
 42  Electrical       1538 non-null   object
 43  1st Flr SF       1538 non-null   int64
 44  2nd Flr SF       1538 non-null   int64
 45  Low Qual Fin SF  1538 non-null   int64
 46  Gr Liv Area      1538 non-null   int64
 47  Bsmt Full Bath   1536 non-null   float64
 48  Bsmt Half Bath   1536 non-null   float64
 49  Full Bath        1538 non-null   int64
 50  Half Bath        1538 non-null   int64
 51  Bedroom AbvGr    1538 non-null   int64
 52  Kitchen AbvGr    1538 non-null   int64
 53  Kitchen Qual     1538 non-null   object
 54  TotRms AbvGrd    1538 non-null   int64
 55  Functional       1538 non-null   object
 56  Fireplaces       1538 non-null   int64
 57  Fireplace Qu     773 non-null    object
 58  Garage Type      1450 non-null   object
 59  Garage Yr Blt    1450 non-null   float64
 60  Garage Finish    1450 non-null   object
 61  Garage Cars      1538 non-null   float64
 62  Garage Area      1538 non-null   float64
 63  Garage Qual      1450 non-null   object
 64  Garage Cond      1450 non-null   object
 65  Paved Drive      1538 non-null   object
 66  Wood Deck SF     1538 non-null   int64
 67  Open Porch SF    1538 non-null   int64
 68  Enclosed Porch   1538 non-null   int64
 69  3Ssn Porch       1538 non-null   int64
 70  Screen Porch     1538 non-null   int64
 71  Pool Area        1538 non-null   int64
 72  Misc Val         1538 non-null   int64
 73  Mo Sold          1538 non-null   int64
 74  Yr Sold          1538 non-null   int64
 75  Sale Type        1538 non-null   object
 76  SalePrice        1538 non-null   int64
dtypes: float64(11), int64(29), object(37)
memory usage: 925.3+ KB

In [19]:
# drop columns with more than 50% null values
threshold = 0.5 * len(test)
test_cleaned = test.dropna(thresh=threshold, axis=1)

In [20]:
test_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       513 non-null    int64
 1   Id               513 non-null    int64
 2   PID              513 non-null    int64
 3   MS SubClass      513 non-null    int64
 4   MS Zoning        513 non-null    object
 5   Lot Frontage     436 non-null    float64
 6   Lot Area         513 non-null    int64
 7   Street           513 non-null    object
 8   Lot Shape        513 non-null    object
 9   Land Contour     513 non-null    object
 10  Utilities        513 non-null    object
 11  Lot Config       513 non-null    object
 12  Land Slope       513 non-null    object
 13  Neighborhood     513 non-null    object
 14  Condition 1      513 non-null    object
 15  Condition 2      513 non-null    object
 16  Bldg Type        513 non-null    object
 17  House Style      513 non-null    object
 18  Overall Qual     513 non-null    int64
 19  Overall Cond     513 non-null    int64
 20  Year Built       513 non-null    int64
 21  Year Remod/Add   513 non-null    int64
 22  Roof Style       513 non-null    object
 23  Roof Matl        513 non-null    object
 24  Exterior 1st     513 non-null    object
 25  Exterior 2nd     513 non-null    object
 26  Mas Vnr Area     509 non-null    float64
 27  Exter Qual       513 non-null    object
 28  Exter Cond       513 non-null    object
 29  Foundation       513 non-null    object
 30  Bsmt Qual        498 non-null    object
 31  Bsmt Cond        498 non-null    object
 32  Bsmt Exposure    498 non-null    object
 33  BsmtFin Type 1   498 non-null    object
 34  BsmtFin SF 1     513 non-null    float64
 35  BsmtFin Type 2   498 non-null    object
 36  BsmtFin SF 2     513 non-null    float64
 37  Bsmt Unf SF      513 non-null    float64
 38  Total Bsmt SF    513 non-null    float64
 39  Heating          513 non-null    object
 40  Heating QC       513 non-null    object
 41  Central Air      513 non-null    object
 42  Electrical       513 non-null    object
 43  1st Flr SF       513 non-null    int64
 44  2nd Flr SF       513 non-null    int64
 45  Low Qual Fin SF  513 non-null    int64
 46  Gr Liv Area      513 non-null    int64
 47  Bsmt Full Bath   513 non-null    float64
 48  Bsmt Half Bath   513 non-null    float64
 49  Full Bath        513 non-null    int64
 50  Half Bath        513 non-null    int64
 51  Bedroom AbvGr    513 non-null    int64
 52  Kitchen AbvGr    513 non-null    int64
 53  Kitchen Qual     513 non-null    object
 54  TotRms AbvGrd    513 non-null    int64
 55  Functional       513 non-null    object
 56  Fireplaces       513 non-null    int64
 57  Fireplace Qu     278 non-null    object
 58  Garage Type      488 non-null    object
 59  Garage Yr Blt    487 non-null    float64
 60  Garage Finish    487 non-null    object
 61  Garage Cars      512 non-null    float64
 62  Garage Area      512 non-null    float64
 63  Garage Qual      487 non-null    object
 64  Garage Cond      487 non-null    object
 65  Paved Drive      513 non-null    object
 66  Wood Deck SF     513 non-null    int64
 67  Open Porch SF    513 non-null    int64
 68  Enclosed Porch   513 non-null    int64
 69  3Ssn Porch       513 non-null    int64
 70  Screen Porch     513 non-null    int64
 71  Pool Area        513 non-null    int64
 72  Misc Val         513 non-null    int64
 73  Mo Sold          513 non-null    int64
 74  Yr Sold          513 non-null    int64
 75  Sale Type        513 non-null    object
dtypes: float64(11), int64(28), object(37)
memory usage: 304.7+ KB

In [21]:
# fill missing data in numerical columns with average of columns' values
# fill missing data in categorical columns with 'Unknown'
numerical_columns = train_cleaned.select_dtypes(include=['int', 'float']).columns
train_cleaned.loc[:, numerical_columns] = train_cleaned.loc[:, numerical_columns].fillna(train_cleaned[numerical_columns].mean())
categorical_columns = train_cleaned.select_dtypes(include=['object']).columns
train_cleaned.loc[:, categorical_columns] = train_cleaned.loc[:, categorical_columns].fillna('Unknown')
train_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538 entries, 0 to 1537
Data columns (total 77 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1538 non-null   int64
 1   Id               1538 non-null   int64
 2   PID              1538 non-null   int64
 3   MS SubClass      1538 non-null   int64
 4   MS Zoning        1538 non-null   object
 5   Lot Frontage     1538 non-null   float64
 6   Lot Area         1538 non-null   int64
 7   Street           1538 non-null   object
 8   Lot Shape        1538 non-null   object
 9   Land Contour     1538 non-null   object
 10  Utilities        1538 non-null   object
 11  Lot Config       1538 non-null   object
 12  Land Slope       1538 non-null   object
 13  Neighborhood     1538 non-null   object
 14  Condition 1      1538 non-null   object
 15  Condition 2      1538 non-null   object
 16  Bldg Type        1538 non-null   object
 17  House Style      1538 non-null   object
 18  Overall Qual     1538 non-null   int64
 19  Overall Cond     1538 non-null   int64
 20  Year Built       1538 non-null   int64
 21  Year Remod/Add   1538 non-null   int64
 22  Roof Style       1538 non-null   object
 23  Roof Matl        1538 non-null   object
 24  Exterior 1st     1538 non-null   object
 25  Exterior 2nd     1538 non-null   object
 26  Mas Vnr Area     1538 non-null   float64
 27  Exter Qual       1538 non-null   object
 28  Exter Cond       1538 non-null   object
 29  Foundation       1538 non-null   object
 30  Bsmt Qual        1538 non-null   object
 31  Bsmt Cond        1538 non-null   object
 32  Bsmt Exposure    1538 non-null   object
 33  BsmtFin Type 1   1538 non-null   object
 34  BsmtFin SF 1     1538 non-null   float64
 35  BsmtFin Type 2   1538 non-null   object
 36  BsmtFin SF 2     1538 non-null   float64
 37  Bsmt Unf SF      1538 non-null   float64
 38  Total Bsmt SF    1538 non-null   float64
 39  Heating          1538 non-null   object
 40  Heating QC       1538 non-null   object
 41  Central Air      1538 non-null   object
 42  Electrical       1538 non-null   object
 43  1st Flr SF       1538 non-null   int64
 44  2nd Flr SF       1538 non-null   int64
 45  Low Qual Fin SF  1538 non-null   int64
 46  Gr Liv Area      1538 non-null   int64
 47  Bsmt Full Bath   1538 non-null   float64
 48  Bsmt Half Bath   1538 non-null   float64
 49  Full Bath        1538 non-null   int64
 50  Half Bath        1538 non-null   int64
 51  Bedroom AbvGr    1538 non-null   int64
 52  Kitchen AbvGr    1538 non-null   int64
 53  Kitchen Qual     1538 non-null   object
 54  TotRms AbvGrd    1538 non-null   int64
 55  Functional       1538 non-null   object
 56  Fireplaces       1538 non-null   int64
 57  Fireplace Qu     1538 non-null   object
 58  Garage Type      1538 non-null   object
 59  Garage Yr Blt    1538 non-null   float64
 60  Garage Finish    1538 non-null   object
 61  Garage Cars      1538 non-null   float64
 62  Garage Area      1538 non-null   float64
 63  Garage Qual      1538 non-null   object
 64  Garage Cond      1538 non-null   object
 65  Paved Drive      1538 non-null   object
 66  Wood Deck SF     1538 non-null   int64
 67  Open Porch SF    1538 non-null   int64
 68  Enclosed Porch   1538 non-null   int64
 69  3Ssn Porch       1538 non-null   int64
 70  Screen Porch     1538 non-null   int64
 71  Pool Area        1538 non-null   int64
 72  Misc Val         1538 non-null   int64
 73  Mo Sold          1538 non-null   int64
 74  Yr Sold          1538 non-null   int64
 75  Sale Type        1538 non-null   object
 76  SalePrice        1538 non-null   int64
dtypes: float64(11), int64(29), object(37)
memory usage: 925.3+ KB

In [22]:
# fill missing data in numerical columns with average of columns' values
# fill missing data in categorical columns with 'Unknown'
numerical_columns = test_cleaned.select_dtypes(include=['int', 'float']).columns
test_cleaned.loc[:, numerical_columns] = test_cleaned.loc[:, numerical_columns].fillna(test_cleaned[numerical_columns].mean())
categorical_columns = test_cleaned.select_dtypes(include=['object']).columns
test_cleaned.loc[:, categorical_columns] = test_cleaned.loc[:, categorical_columns].fillna('Unknown')
test_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       513 non-null    int64
 1   Id               513 non-null    int64
 2   PID              513 non-null    int64
 3   MS SubClass      513 non-null    int64
 4   MS Zoning        513 non-null    object
 5   Lot Frontage     513 non-null    float64
 6   Lot Area         513 non-null    int64
 7   Street           513 non-null    object
 8   Lot Shape        513 non-null    object
 9   Land Contour     513 non-null    object
 10  Utilities        513 non-null    object
 11  Lot Config       513 non-null    object
 12  Land Slope       513 non-null    object
 13  Neighborhood     513 non-null    object
 14  Condition 1      513 non-null    object
 15  Condition 2      513 non-null    object
 16  Bldg Type        513 non-null    object
 17  House Style      513 non-null    object
 18  Overall Qual     513 non-null    int64
 19  Overall Cond     513 non-null    int64
 20  Year Built       513 non-null    int64
 21  Year Remod/Add   513 non-null    int64
 22  Roof Style       513 non-null    object
 23  Roof Matl        513 non-null    object
 24  Exterior 1st     513 non-null    object
 25  Exterior 2nd     513 non-null    object
 26  Mas Vnr Area     513 non-null    float64
 27  Exter Qual       513 non-null    object
 28  Exter Cond       513 non-null    object
 29  Foundation       513 non-null    object
 30  Bsmt Qual        513 non-null    object
 31  Bsmt Cond        513 non-null    object
 32  Bsmt Exposure    513 non-null    object
 33  BsmtFin Type 1   513 non-null    object
 34  BsmtFin SF 1     513 non-null    float64
 35  BsmtFin Type 2   513 non-null    object
 36  BsmtFin SF 2     513 non-null    float64
 37  Bsmt Unf SF      513 non-null    float64
 38  Total Bsmt SF    513 non-null    float64
 39  Heating          513 non-null    object
 40  Heating QC       513 non-null    object
 41  Central Air      513 non-null    object
 42  Electrical       513 non-null    object
 43  1st Flr SF       513 non-null    int64
 44  2nd Flr SF       513 non-null    int64
 45  Low Qual Fin SF  513 non-null    int64
 46  Gr Liv Area      513 non-null    int64
 47  Bsmt Full Bath   513 non-null    float64
 48  Bsmt Half Bath   513 non-null    float64
 49  Full Bath        513 non-null    int64
 50  Half Bath        513 non-null    int64
 51  Bedroom AbvGr    513 non-null    int64
 52  Kitchen AbvGr    513 non-null    int64
 53  Kitchen Qual     513 non-null    object
 54  TotRms AbvGrd    513 non-null    int64
 55  Functional       513 non-null    object
 56  Fireplaces       513 non-null    int64
 57  Fireplace Qu     513 non-null    object
 58  Garage Type      513 non-null    object
 59  Garage Yr Blt    513 non-null    float64
 60  Garage Finish    513 non-null    object
 61  Garage Cars      513 non-null    float64
 62  Garage Area      513 non-null    float64
 63  Garage Qual      513 non-null    object
 64  Garage Cond      513 non-null    object
 65  Paved Drive      513 non-null    object
 66  Wood Deck SF     513 non-null    int64
 67  Open Porch SF    513 non-null    int64
 68  Enclosed Porch   513 non-null    int64
 69  3Ssn Porch       513 non-null    int64
 70  Screen Porch     513 non-null    int64
 71  Pool Area        513 non-null    int64
 72  Misc Val         513 non-null    int64
 73  Mo Sold          513 non-null    int64
 74  Yr Sold          513 non-null    int64
 75  Sale Type        513 non-null    object
dtypes: float64(11), int64(28), object(37)
memory usage: 304.7+ KB

In [23]:
train_cleaned.shape

(1538, 77)

In [24]:
test_cleaned.shape

(513, 76)

In [25]:
# save cleaned dataset
train_cleaned.to_csv('../data/train_cleaned.csv', index=False)

In [26]:
# save cleaned dataset
test_cleaned.to_csv('../data/test_cleaned.csv', index=False)